@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer {
  /* // Nav ///  */

  /* // ourservices ? */
  h2.our_services_headline {
    @apply text-[#66fcf1] text-[50px] font-extrabold !important;
  }
  .service_info {
    @apply text-[white] w-4/5 text-center m-auto;
  }
  .ourservice_main {
    @apply bg-[#000000] mt-[40px] h-[100vh];
  }
  .service_logo {
    @apply w-[50px] h-[50px] border flex justify-center items-center m-auto rounded-[100%] border-solid !important;
  }
}

.red-gradient {
  background: rgb(104, 151, 117);
  background: linear-gradient(
    0deg,
    rgba(104, 151, 117, 1) 27%,
    rgba(199, 73, 58, 1) 100%
  );
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #66fcf1;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background: white;
  transform-origin: bottom right;
  transition: transform 0.9s ease-out;
}
element.style {
  background: white;
  color: black;
  font-weight: 800;
}
