@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.red-gradient {
  background: rgb(104, 151, 117);
  background: linear-gradient(
    0deg,
    rgba(104, 151, 117, 1) 27%,
    rgba(199, 73, 58, 1) 100%
  );
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #66fcf1;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background: white;
  transform-origin: bottom right;
  transition: transform 0.9s ease-out;
}
